// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    footer {
      background-color: rgba(0,0,0,0.9);
      color: #bbb;
      line-height: 1.5;
    }
    footer a {
      text-decoration: none;
      color: #eee;
    }
    .ft-anchor-element:hover {
      text-decoration: none;
      color:#0DDBFE
    }
    .ft-title {
      color: #fff;
      font-family: "Merriweather", serif;
      font-size: 1.375rem;
      padding-bottom: 0.625rem;
    }
    /* Sticks footer to bottom */
    body {
      display: flex !important;
      min-height: 100vh !important;
      flex-direction: column !important;
    }
    .container {
      flex: 1;
    }
    /* Footer main */
    .ft-main {
      padding: 1.25rem 1.875rem;
      display: flex;
      flex-wrap: wrap;
    }
    @media only screen and (min-width: 29.8125rem /* 477px */) {
      .ft-main {
        justify-content: space-evenly;
      }
    }
    @media only screen and (min-width: 77.5rem /* 1240px */) {
      .ft-main {
        justify-content: space-evenly;
      }
    }
    .ft-main-item {
      padding: 1.25rem;
      min-width: 12.5rem;
      text-align: center;
    }
    /* Footer social */
    .ft-social {
      padding: 0 1.875rem 1.25rem;
    }
    .ft-social-list {
      display: flex;
      justify-content:center;
      border-top: 1px #0DDBFE solid;
      padding-top: 1.25rem;
    }
    .ft-social-list li {
      margin: 0.5rem;
      font-size: 1.25rem;
    }
    /* Footer legal */
    .ft-legal {
      padding: 0.9375rem 1.875rem;
      background-color: #333;
    }
    .ft-legal-list {
    background-image: linear-gradient(to  bottom left, rgba(13, 219, 254, 1), rgba(237, 14, 248, 1));
    color:#000;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    justify-content:center;
    }


